<div class="row">
    <div class="col-md-offset-4 col-md-6 login-container">
        <div class="page-header">
            <h1>User Login</h1>
        </div>
        <form action="POST" class="login-form" ng-submit="login.doLogin($event,loginData)">

            <!-- Username -->
            <label>Username:</label>
            <input class="form-control" type="text" name="username" placeholder="Enter username" ng-model="login.loginData.username">
            <br>
            <!-- Password -->
            <label>Password:</label>
            <input class="form-control" type="password" name="password" placeholder="Enter password" ng-model="login.loginData.password">
            <br>
            <button class="btn btn-primary" type="submit">Login</button>&nbsp
        </form>
    </div>
</div>