body{
    background-color: #2D4471;
    color: #7788AA;
}
header{
    background-color: #152B55;
    padding-left: 43%;
    padding-top: 50px;
    height: 150px;
}

#main{
    padding-left: 20%;
    padding-right: 20%;
}

#main>div{
    margin-top: 50px;
    padding-top: 10px;
    border-radius: 10px;
    background-color: #152B55; 
    height: 50px;
    cursor: pointer;
}

#main h3{
    margin:0;
    padding-left: 43%;
}